@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full select-none bg-transparent font-mono antialiased overflow-hidden;
  }

  header {
    -webkit-app-region: drag;
  }

  button {
    -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded-md;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
@layer utilities {
  .app-region-drag {
    -webkit-app-region: drag;
  }
  .app-region-no-drag {
    -webkit-app-region: no-drag;
  }
}
